<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        /* Add your custom styles here */
        .dashboard-container {
            margin: 20px;
        }
        .welcome-message {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="dashboard-container">
        <div class="welcome-message">
            <h1>Welcome, {{ username }}!</h1>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Information</h5>
                <p class="card-text">Manage your information, update your profile, and more.</p>
                <a href="#" class="btn btn-primary">Edit Profile</a>
                <a href="/logout" class="btn btn-danger">Log Out</a>
            </div>
        </div>
        <section class="card mt-4 p-4">
            <!-- Add Job Form -->
            <!-- <form method="post" class="add-job-form">
                <h2>Add New Job</h2>
                <input type="hidden" name="operation" value="add_job"> -->
                <!-- Input fields for job details -->
                <!-- <button type="submit">Add Job</button>
            </form> -->

            <!-- List of Jobs -->
            <h2>Your Jobs</h2>
            <table class="jobs-table">
                <thead>
                    <tr>
                        <th>Company</th>
                        <th>Job Title</th>
                        <th>Location</th>
                        <th>Date Applied</th>
                        <th>Date Expire</th>
                        <th>Status</th>
                        <th>Job Link</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for job in jobs %}
                        <tr data-id="{{ job.id }}"
                            data-company-name="{{ job.company_name }}"
                            data-job-title="{{ job.job_title }}"
                            data-job-location="{{ job.job_location }}"
                            data-application-date="{{ job.application_date }}"
                            data-application-deadline="{{ job.application_deadline }}"
                            data-status="{{ job.status }}"
                            data-job-url="{{ job.job_url }}"
                            data-resume-version="{{ job.resume_version }}"
                            data-job-description="{{ job.job_description | escape }}"
                            data-notes="{{ job.notes | escape }}">
                            <td>{{ job.company_name }}</td>
                            <td>{{ job.job_title }}</td>
                            <td>{{ job.job_location }}</td>
                            <td>{{ job.application_date }}</td>
                            <td>{{ job.application_deadline }}</td>
                            <td>{{ job.status }}</td>
                            <td><a href="{{ job.job_url }}">click here</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>

    <div id="jobModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form id="jobEditForm" method="post" action="/editjob">
                <h2>Edit Job Application</h2>
                <label for="editCompany">Company:</label>
                <input type="text" id="editCompany" name="company_name"><br>
                
                <label for="editJobTitle">Job Title:</label>
                <input type="text" id="editJobTitle" name="job_title"><br>
                
                <label for="editLocation">Location:</label>
                <input type="text" id="editLocation" name="job_location"><br>
                
                <label for="editApplyDate">Date Applied:</label>
                <input type="date" id="editApplyDate" name="application_ate"><br>

                <label for="editExpireDate">Location:</label>
                <input type="date" id="editExpireDate" name="application_deadline_date"><br>

                <label for="editStatus">Status:</label>
                <input type="text" id="editStatus" name="status"><br>

                <label for="editJobUrl">Job Link:</label>
                <input type="text" id="editJobUrl" name="job_url"><br>

                <label for="editResumeVersion">Resume Version:</label>
                <input type="text" id="editResumeVersion" name="resume_version"><br>

                <label for="editDescription">Description:</label>
                <textarea type="text" id="editDescription" name="job_description"><br>

                <label for="editNotes">Notes:</label>
                <textarea type="text" id="editNotes" name="notes"><br>
    
                <input type="hidden" id="editId" name="id">
                <input type="submit">Save Changes</input>
            </form>
        </div>
    </div>

    <script>

        document.addEventListener("DOMContentLoaded", function() {
            var rows = document.querySelectorAll(".jobs-table tbody tr");
            rows.forEach(row => {
                row.addEventListener("click", function() {
                    showDetails({
                        id: this.getAttribute('data-id'),
                        companyName: this.getAttribute('data-company-name'),
                        jobTitle: this.getAttribute('data-job-title'),
                        jobLocation: this.getAttribute('data-job-location'),
                        applicationDate: this.getAttribute('data-application-date'),
                        applicationDeadline: this.getAttribute('data-application-deadline'),
                        status: this.getAttribute('data-status'),
                        jobUrl: this.getAttribute('data-job-url'),
                        resumeVersion: this.getAttribute('data-resume-version'),
                        jobDescription: this.getAttribute('data-job-description'),
                        notes: this.getAttribute('data-notes')
                    });
                });
            });
        });

        function showDetails(job) {
            
            document.getElementById("editCompany").value = job.companyName;
            document.getElementById("editJobTitle").value = job.jobTitle;
            document.getElementById("editLocation").value = job.jobLocation;
            document.getElementById("editApplyDate").value = job.applicationDate;
            document.getElementById("editExpireDate").value = job.applicationDeadline;
            document.getElementById("editStatus").value = job.status;
            document.getElementById("editJobUrl").value = jobjobUrl;
            document.getElementById("editResumeVersion").value = job.resumeVersion;
            document.getElementById("editdescription").value = job.jobDescription;
            document.getElementById("editNotes").value = job.notes;

            document.getElementById("jobModal").style.display = "block";
        }
        
        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            document.getElementById("jobModal").style.display = "none";
        }
        
        window.onclick = function(event) {
            var modal = document.getElementById("jobModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>